#Main
{
    background-image: url(../img/background/bg_iop.jpg);
    background-position: center ;
    background-size: cover;

    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
}



.mainContent
{
    display: flex;
    margin: 0 15%;
    width: 65%;
    height: 90%;
}

.mainContentLeft
{
    margin: 1px;
    box-shadow: 5px 5px 5px #00000091;
    border: none;

    color: #f0f0f0;
}

.para-h2-main
{
    font-family: 'Asap', sans-serif;

    text-align: center;
    text-transform: uppercase;
}

.para-h5-main
{
    font-size: 1.2rem;
    padding: 15px 0;
}

.para-h4-main
{
    text-align: center;
}

.para-p-main
{
    letter-spacing: 0.4px;
    font-weight: 600;

    font-size: 0.8rem;
    padding-bottom: 15px;
}

.para-ul-main
{
    display: flex;
    justify-content: space-around;

    margin: 0 auto;
    padding: 0;
}

.para-li-main
{
    list-style-type: none;
}

.content-size
{
    width: 50%;
}

.characName
{
    width: 100%;
    border-radius: 5px 5px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header
{
    height: 65px;

    color: #f0f0f0;

    display: flex;
    align-items: center;
}

.mainContentRight ,.mainContentCenter
{
    background: none;
    border: none;
}

.mainContentCenter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.character
{
    height: 50%;
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
}

.boutonLeft, .boutonRight
{
    z-index: 2;

    color: rgb(10 10 10 / 63%);
    font-size: xx-large;
}

.boutonLeft:hover
{
    color: #8ccf26;
}

.boutonRight:hover
{
    color: #8ccf26;
}

.slider__img
{
    position: absolute;
    opacity: 0;
}

.slider__img--current
{
    opacity: 1;
    z-index: 1;
}

.sexCharacter
{
    color: #f0f0f0;

    font-size: x-large;
    width: 18%;
    height: 36px;
    border-radius: 5px;

    display: flex;
    align-items: baseline;
    justify-content: space-evenly;

}

.fa-mars:hover
{
    color: #db6a00;
}

.fa-venus:hover
{
    color: #db6a00;
}

